#head-container {
    align-content: center;
    margin-top: 80px;
    margin-bottom: 60px;
}

#head {
    text-align: center;
    display: block;
    font-size: 40px;
    color: Navy;
}

.author-list {
    margin: auto;
    text-align: center;
    width: 1000px;
}

.author-list-tr {
    text-align: center;
}

.author-list-td {
    text-align: center;
    font-size: 20px;
    color: Navy;
    width: 20%;
}

.author-affiliate {
    margin: auto;
    text-align: center;
    width: 900px;
}

.author-affiliate-td {
    text-align: center;
    font-size: 20px;
    color: Navy;
    width: 32%;
}

a {
    color: Navy;
    text-decoration: none;
}

a:visited {
    color: Navy;
    text-decoration: none;
}

a:hover {
    color: Navy;
    text-decoration: underline;
}

a:active {
    color: Navy;
    text-decoration: none;
}

#main-container {
    margin: auto;
    display: block;
    width: 70%;
}